#reset-this-root {
    all: unset;
}

/* https://coolors.co/palette/ffd6ff-e7c6ff-c8b6ff-b8c0ff-bbd0ff */
html, body {
    margin:0;
    padding:0;
}

h1 {
    margin:0;
}

/*                        HEADER                          */

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e44996;
    color: white;
    font-family: sans-serif;  
    height: 80px;     
}

.header .logo-and-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.header .logo-and-name .logo{
    display: inline;
    height: 70%;
}

.header .logo-and-name .site-name {
    display: inline;
}

.header .setting-button {
    background-color: #e44996;  
    border: 0px;
    padding: 15px 20px;
    display: inline;
    float: right;
    height: 100%;
}

.header .setting-button:hover {
    background-color: #fa90c5;  
}

.header .setting-button img {
    height: 100%;
}

/*                        BODY                          */

.video-dictation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.video-dictation-container button {
    font-size: 18px;
    font-family: sans-serif;
    background-color: #42BFDD;
    color: white;
    border-color: #42BFDD;
    padding: 10px;
    border-radius: 10px;
}

.video-section, .dictation-section {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
} 

.video-section {
    padding: 20px;
    gap: 10px;
}

.video-section .url-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.video-section .url-container #video-url {
    flex: 3 1 0px;
    font-size: 18px;
    padding: 0px 10px;
    border-radius: 10px;
    border-color: #42BFDD;
}

.video-section .url-container .play-button {
    font-size: 18px;
    border-radius: 10px;
    border-color: #42BFDD;
}

.video-section #video-container {
    border: 2px solid;
    border-radius: 10px;
    border-color: #42BFDD;
    height: 350px;   
}

.dictation-section {
    padding: 20px;
    gap: 10px;
}

.dictation-section .result-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.dictation-section .result-container .progress-bar {
    width: 100%;
    height: 30px;
    border: 2px solid #e44996;
    position: relative;
    border-radius: 100px;
}
  
.dictation-section .result-container .progress {
    width: 5%;
    height: 100%;
    background-color: #e7aee4; /* Progress color */
    border-radius: 100px;
}

.dictation-section .result-container #current-part {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dictation-section .button-container {
    display: flex;
    justify-content: space-evenly; 
    gap: 10px;
}

.dictation-section .result-container {
    font-size: 18px;
    font-family: monospace;
}

.dictation-section #identical-text {
    color: green;
    display: inline;
}

.dictation-section #next-word {
    color: red;
    display: inline;
}

.dictation-section #hidden-words {
    display: inline;
}

.dictation-section .answer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dictation-section .answer-container #answer-input {
    font-size: 18px;
    font-family: sans-serif;
    display: block;
    height: 200px;
    font-size: 18px;
    border-radius: 10px;
    border-color: #42BFDD;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    word-break: break-word;
}

.dictation-section .answer-button-container {
    display: flex;
    gap: 10px;
}

.dictation-section .answer-button-container button {
    background-color: #8182bb;
    border-color: #8182bb;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* height: 500px; */
    padding: 20px;
    background: #FFF;   
    border-radius: 30px;
    z-index: 20;
    font-family: sans-serif;  
    flex-direction: column; 
    gap: 20px;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    z-index: 1; 
}

.popup .title {
    text-align: center;
    color: #e44996;
    font-size: 30px;
    margin: 0px;  
}

.popup p {
    text-align: center;
    color: #228198;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
}

.popup .setting-fields {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.popup .setting-fields .field {
    display: flex;
    align-items: center; 
}

.popup .setting-fields .field .radio-button {
    margin-right: 30px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.popup .setting-fields .field .number-input {
    margin-right: 10px;
    font-size: 20px;
    width: 60px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #42BFDD;
}

.popup .setting-fields .field span{
    color: #6fc1d5;
    font-weight: bold;
}

.popup button {
    font-size: 18px;
    font-family: sans-serif;
    background-color: #42BFDD;
    color: white;
    border-color: #42BFDD;
    padding: 15px;
    border-radius: 10px;
}

.popup .button-fields {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 60px;
}