#reset-this-root {
    all: unset;
}

/* https://coolors.co/palette/ffd6ff-e7c6ff-c8b6ff-b8c0ff-bbd0ff */
html, body {
    margin:0;
    padding:0;
}

h1 {
    margin:0;
}

/*                        HEADER                          */

.header  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e44996;
    color: white;
    font-family: sans-serif;  
    height: 3.75em;     
}

.header .logo-and-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625em;
    margin-left: 0.625em;
    gap: 0.625em;
    height: 100%;
}

.header .logo-and-name .logo{
    display: inline;
    height: 70%;
}

.header .logo-and-name .site-name {
    display: inline;
    font-size: 1.563em;
}

.header .setting-button {
    background-color: #e44996;  
    border: 0px;
    padding: 0.938em 1.25em;
    display: inline;
    float: right;
    height: 100%;
}

.header .setting-button:hover {
    background-color: #fa90c5;  
}

.header .setting-button img {
    height: 100%;
}

/*                        BODY                          */

.video-dictation-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.625em;
}

.video-dictation-container button {
    font-size: 1em;
    font-family: sans-serif;
    background-color: #42BFDD;
    color: white;
    border-color: #42BFDD;
    padding: 0.625em;
    border-radius: 0.625em;
}

.video-section, .dictation-section {
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
} 

.video-section {
    padding: 1.25em;
    gap: 0.625em;
}

.video-section .url-container {
    display: flex;
    justify-content: space-around;
    gap: 1.25em;
}

.video-section .url-container #video-url {
    flex: 3 1 0px;
    font-size: 1em;
    padding: 0px 0.625em;
    border-radius: 0.625em;
    border: 0.125em solid #42BFDD;
}

.video-section .url-container .play-button {
    font-size: 1em;
    border-radius: 0.625em;
    border-color: #42BFDD;
}

.video-section #video-container {
    border: 0.125em solid;
    border-radius: 0.625em;
    border-color: #42BFDD;
    height: 21.875em;   
}

.dictation-section {
    padding: 1.25em;
    gap: 0.625em;
}

.dictation-section .result-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.25em;
}

.dictation-section .result-container .progress-bar {
    width: 100%;
    height: 1.875em;
    border: 0.188em solid #e44996;
    position: relative;
    border-radius: 6.25em;
}
  
.dictation-section .result-container .progress {
    width: 5%;
    height: 100%;
    background-color: #e7aee4; /* Progress color */
    border-radius: 6.25em;
}

.dictation-section .result-container #current-part {
    position: absolute;
    font-size: 1.4em;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.dictation-section .button-container {
    display: flex;
    justify-content: space-evenly; 
    gap: 0.625em;
}

.dictation-section .result-container {
    font-size: 1em;
    font-family: monospace;
}

.dictation-section #identical-text {
    color: green;
    display: inline;
}

.dictation-section #next-word {
    color: red;
    display: inline;
}

.dictation-section #hidden-words {
    display: inline;
}

.dictation-section .answer-container {
    display: flex;
    flex-direction: column;
    gap: 0.625em;
}

.dictation-section .answer-container #answer-input {
    flex: 2 0 auto; 
    height: 100%;
    font-size: 1em;
    font-family: sans-serif;
    display: block;
    /* height: 12.5em; */
    font-size: 1em;
    border-radius: 0.625em;
    border: 0.125em solid #42BFDD;
    width: 100%;
    box-sizing: border-box;
    padding: 1.25em;
    word-break: break-word;
}

.dictation-section .answer-button-container {
    display: flex;
    gap: 0.625em;
}

.dictation-section .answer-button-container button {
    background-color: #8182bb;
    border-color: #8182bb;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 31.25em; */
    width: 40%;
    /* height: 31.25em; */
    padding: 1.25em;
    background: #FFF;   
    border-radius: 1.875em;
    z-index: 20;
    font-family: sans-serif;  
    flex-direction: column; 
    gap: 1.25em;
}


#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); 
    z-index: 1; 
}

.popup .title {
    text-align: center;
    color: #e44996;
    font-size: 1.875em;
    margin: 0px;  
}

.popup p {
    text-align: center;
    color: #228198;
    font-weight: bold;
    font-size: 1.25em;
    margin: 0px;
}

.popup .setting-fields {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 1.25em;
}

.popup .setting-fields .field {
    display: flex;
    align-items: center; 
}

.popup .setting-fields .field .radio-button {
    margin-right: 1.875em;
    width: 1.563em;
    height: 1.563em;
    text-align: center;
}

.popup .setting-fields .field .number-input {
    margin-right: 0.625em;
    font-size: 1.25em;
    width: 3.75em;
    padding: 0.625em;
    border-radius: 0.625em;
    border: 0.125em solid #42BFDD;
}

.popup .setting-fields .field span{
    color: #6fc1d5;
    font-weight: bold;
}

.popup button {
    font-size: 1em;
    font-family: sans-serif;
    background-color: #42BFDD;
    color: white;
    border-color: #42BFDD;
    padding: 0.938em;
    border-radius: 0.625em;
}

.popup .button-fields {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3.75em;
}

@media only screen and (max-width: 46.1875em) {

    .header  {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e44996;
        color: white;
        font-family: sans-serif;  
        height: 2.5em;     
    }

    .header .logo-and-name .site-name {
        display: inline;
        font-size: 1em;
    }
    
    .header .setting-button {
        background-color: #e44996;  
        border: 0px;
        padding: 0.8em 1em;
        display: inline;
        float: right;
        height: 100%;
    }

    .video-dictation-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 0em;
    }

    .video-section #video-container {
        border: 0.125em solid;
        border-radius: 0.625em;
        border-color: #42BFDD;
        height: 14em;   
    }
    
    .video-section {
        padding: 1em 1em 0em 1em;
        gap: 0.6em;
        font-size: 0.8em;
    }

    .dictation-section {
        padding: 1em;
        gap: 0.6em;
        font-size: 0.8em;
    }

    .video-section .url-container {
        display: flex;
        justify-content: space-around;
        gap: 0.8em;
    }
    
    .video-section .url-container #video-url {
        flex: 3 1 0px;
        padding: 0px 0.625em;
        border-radius: 0.625em;
        border: 0.125em solid #42BFDD;
    }
    
    .video-section .url-container .play-button {
        border-radius: 0.625em;
        border-color: #42BFDD;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* width: 31.25em; */
        width: 60%;
        /* height: 31.25em; */
        padding: 1.25em;
        background: #FFF;   
        border-radius: 1.875em;
        z-index: 20;
        font-family: sans-serif;  
        flex-direction: column; 
        gap: 0.8em;
        font-size: 0.8em;
    }

    .popup .setting-fields {
        font-size: 1em;
        display: flex;
        flex-direction: column;
        gap: 1.25em;
        padding: 1.25em;
    }
    
    .popup .setting-fields .field .radio-button {
        margin-right: 1em;
        width: 1em;
        height: 1em;
        text-align: center;
    }    

    .popup .setting-fields .field .number-input {
        margin-right: 0.525em;
        font-size: 1em;
        width: 2.75em;
        padding: 0.525em;
        border-radius: 0.625em;
        border: 0.125em solid #42BFDD;
    }

    .popup .button-fields {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 1em;
    }
}